networks:
    blah2:
      driver: bridge #Create network

services:

  blah2:
    restart: always
    image: ghcr.io/offworldlab/blah2:dev 
    tty: true
    depends_on: 
      - blah2_api
    volumes: #Persistant storage in /data/ 
      - /data/blah2/config:/opt/blah2/config
      - /data/blah2/save:/opt/blah2/save

      - /dev/shm:/dev/shm:rw
      - /dev/bus/usb:/dev/bus/usb:rw     
      - /usr/local/lib/libsdrplay_api.so.3.15:/usr/local/lib/libsdrplay_api.so.3:ro 
      - /data/blah2/test:/opt/blah2/test

      - /data/blah2/script/sdrplay-restart.sh:/opt/blah2/sdrplay-restart.sh #@TODO - can we bake this in?

    network_mode: host
    privileged: true
    command: bash -c "/opt/blah2/sdrplay-restart.sh && /opt/blah2/bin/blah2 -c /opt/blah2/config/config.yml"   
    container_name: blah2

  blah2_web:
    restart: always
    image: ghcr.io/offworldlab/blah2-web:dev
    ports: 
      - 49152:80
    networks:
      - blah2
    container_name: blah2-web

  blah2_api:
    restart: always
    image: ghcr.io/offworldlab/blah2-api:dev
    volumes:
      - /data/blah2/config:/usr/src/app/config
    network_mode: host
    command: "node server.js /usr/src/app/config/config.yml"
    container_name: blah2-api

  blah2_host:
    restart: always
    image: ghcr.io/offworldlab/blah2-host:dev
    ports:
      - "8080:80"
    networks:
      - blah2
    container_name: blah2-host
    depends_on:
      - blah2_web
      - blah2_api

